@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

*::selection{
	color:$color_dark;
	background-color: $color_primary_400;
}

html{
	@include thinScrollbar;
	scroll-behavior: smooth;
	background-color: $color_dark;
}

.sr-only{
    border: 0;
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
}

ul{
	li{
		margin-block: 5px;
		padding-left:20px;
		position:relative;
		&:before{
			content:"";
			position:absolute;
			top:7px;
			left:6px;
			width: 6px;
			height: 6px;
			border-radius: 6px;
			background-color: currentColor;
		}
	}
}

main{
	@include wrapper;
	padding-block:30px;
	display: flex;
	flex-direction: column;
	gap:30px;
}